body{
    margin: 0;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}
h1{
    font-size: 2rem;
    color: #307abe;
    margin-bottom: 3rem;
}
p{
    font-size: 2rem;
    color: #333333;
    line-height: 2rem;
}
a{
    font-size: 5rem;
    color: #307abe;
    text-decoration: dotted;
    transition: all ease-in 1s;
}
a:hover{
    text-decoration: none;
    cursor: pointer;
    color: #ff0000;
}   